<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Luma.SmartHub" version="0.0.39" targetFramework="net452" />
  <package id="Luma.SmartHub.Audio" version="0.0.39" targetFramework="net452" />
  <package id="Luma.SmartHub.Plugins.Youtube" version="0.0.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Serilog" version="1.5.14" targetFramework="net452" />
</packages>